/* src/styles/ProductGrid.css */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  gap: 17px;
}

.product-item {
  width: calc(33.333% - 17px); /* 3 items per row with a gap */
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.product-item img {
  width: 100%;
  height: auto;
  max-height: 200px; /* Ensure images do not exceed a certain height */
  object-fit: cover;
}

.bestseller {
  background-color: red;
  color: white;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.pagination-info {
  display: flex;
  align-items: center;
}
